html, body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    min-height: 100%;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: stretch;
}

div#principal{
    padding-top: 0px;
    padding-bottom: 0px;
    margin:auto;
    width: 50%;
    max-width: 700px;
    height: 100%;
    background-color: white;
    color: #002C5F;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

div#principal div#work{
    display: flex;
    flex-direction: column;
}

div#principal div > header{
    display: flex;
    align-items: center;
}

div#principal div > header > img{
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: #002C5F;
    border-radius: 50%;
    margin-right: 40px;
}

div#principal div#learning > header > img{
    width: 44px;
    height: 44px;
    padding: 3px;
}

div#principal p{
    color: black;
}

div#principal p#title{
    font-size: 18px;
}

div#principal p#explicacio{
    margin-top: -15px;
    margin-left: 30px;
    line-height: 25px;
}

div#principal p#lloc_feina{
    margin-top: -10px;
    margin-left: 15px;
    font-weight: bold;
}

div#lateral{
    padding-left: 30px;
    padding-right: 30px;
    width: 20%;
    min-width: 230px;
    background: #002C5F;
    background: linear-gradient(90deg, #002C5F 97%, white 100%);
    height: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

div#lateral > img{
    max-width: 250px;
    max-height: 250px;
}

ul{
    list-style: none;
    padding-left: 0px;
}

div#lateral h2{
    font-size: 20px;
}

div#lateral p{
    font-size: 15px;
}

div#lateral li {
    margin-top: 7px;
}

div#lateral > div#contact li{
    display: flex;
    align-items: center;
    margin-top: 0px;
}

div#lateral > div#contact li > img{
    width: 30px;
    height: 30px;
}
div#lateral > div#contact li > a{
    color: aliceblue;
}